@import "../../../global.scss";

.create-filter-form {
  display: flex;
  flex-flow: column nowrap;
  font-size: $font-size_regular-text;
  margin-bottom: 2rem;

  &__select-wrapper {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1rem;
    align-items: center;
    margin: 0;
  }

  &__top-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__title {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1rem;
    width: 100%;
  }

  &__input {
    width: 100%;
    font-weight: bold;
    font-size: $font-size_h2;
    height: 3.5rem;
  }

  &__find-track-btn {
    margin-top: 1rem;
    align-self: flex-end;
  }

  &__row {
    display: grid;
    width: 100%;
    align-items: center;
    padding: 1rem 0;
    column-gap: 1rem;
    align-items: center;
    border-bottom: 1px solid $color_grey-50;
    justify-content: flex-start;
  }

  &__operator-row {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  &__addable-row {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }

  &__row:last-child {
    border-bottom: none;
  }

  &__select-boxes {
    display: flex;
    column-gap: 1rem;
    align-items: center;
  }

  &__row_filter {
    display: flex;
    justify-content: space-between;
  }

  &__btns {
    display: flex;
  }

  &__btn:disabled {
    color: $color_grey-70;
  }

  &__error {
    font-size: $font-size_tiny;
  }
}

.playlist {
  display: grid;
  box-shadow: 0px 0px 1rem $color_grey-50;
  border-radius: $border_radius_block;
  grid-template-columns: 1fr;
}

.track {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto 0.6fr 0.4fr 3rem auto;
  color: $color_black;
  padding: 0 0 1rem 0;
  margin: 1rem 1rem 0 1rem;
  align-items: center;
  column-gap: 2rem;
  overflow: hidden;
  font-size: $font-size_tiny;
  text-overflow: ellipsis;
  cursor: pointer;
  border-bottom: 1px solid $color_grey-50;
  width: 100%;

  &:last-child {
    border-bottom: none;
  }

  &__sort-buttons {
    display: flex;
    flex-flow: column nowrap;
  }

  &__controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }

  &__artist-title-genre {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 0.5rem;
  }

  &__artists {
    font-size: 0.75rem;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $color_grey-70;
    font-size: $font-size_controls;
  }

  &__year {
    font-size: $font-size_controls;
  }

  &__title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: $font-size_controls;
  }

  &__genres {
    display: flex;
    flex-flow: row wrap;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__genre {
    font-size: $font-size_tiny;
    border: 1px solid $color_grey-50;
    border-radius: 1.375rem;
    padding: 0.2rem 0.7rem;
  }

  &__duration {
    font-size: $font-size_controls;
  }
}
