// Global CSS classesm SASS variables, mixins, functions

//
// Font-family
//

// Open Sans is added via Google Fonts as a web font in index.html header
$font-stack_sans: Tahoma, Helvetica, Arial, Verdana, sans-serif;

//
// Font size
//

$font-size_root: 16px;

$font-size_menu: 1.5rem;
$font-size_regular-text: 1.125rem;
$font-size_controls: 1rem;
$font-size_tiny: 0.8125rem;

$font-size_h1: 2.5rem;
$font-size_h2: 1.5rem;

//
// Line-height
//

$line-height_xs: 1.1;
$line-height_sm: 1.3;
$line-height_md: 1.5;
$line-height_lg: 1.7;
$line-height_xl: 1.9;
$line-height_xxl: 2.1;

//
// Colors
//

$color_brown-80: #483e37;
$color_brown-50: #917156;
$color_brown-10: #f3ede2;
$color_grey-70: #808080;
$color_grey-50: #cccccc;
$color_grey-20: #eeeeee;
$color_blue-80: #3771b2;
$color_blue-50: #afc6e9;
$color_blue-20: #d7e3f4ff;
$color_pink-40: #ffd5f6;
$color_red-50: #d45d47;
$color_red-10: #ffe8e3;
$color_yellow-50: #c19b4e;
$color_green-50: #6f9158;
$color_green-20: #dfe7ca;
$color_black: black;

$color_text: $color_black;
$color_link: $color_blue-80;

$color_success: $color_green-50;
$color_warning: $color_yellow-50;
$color_danger: $color_red-50;
$color_info: $color_brown-50;

$form__border_initial: $color_grey-50;

$form__border_hover: $color_blue-50;

$form__border_focus: $color_blue-50;
$form__boxshadow_focus: $color_blue-50;

$form__border_success: $color_success;
$form__boxshadow_success: $color_success;

$form__border_danger: $color_danger;
$form__boxshadow_danger: $color_danger;

//
// Media quaries
//

$screen-xs: 0 !default;
$screen-sm: 480px !default;
$screen-md: 768px !default;
$screen-lg: 992px !default;
$screen-xl: 1200px !default;
$screen-xxl: 1800px !default;

//
// Z-indexes
//

$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;

//
// Misc
//

$border_radius_btn: 8px;
$border_radius_block: 8px;

$controls_btn-height: 2.75rem;

@mixin default-icon {
  box-sizing: border-box;
  margin: 0;
  /* Paths and strokes that overflow the viewBox can show in IE11. */
  overflow: hidden;
  transition:
    fill 0.2s ease,
    background-color 0.2s ease;
  outline: none;
  cursor: pointer;
}

.link {
  color: $color_link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  display: inline-flex;
  flex-flow: row wrap;
  column-gap: 0.5rem;
  align-content: center;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 1.2rem;
  box-sizing: border-box;

  line-height: 0;
  text-decoration: none;
  white-space: nowrap;

  outline: none;
  border-radius: $border_radius_btn;
  border: 0;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease,
    box-shadow 0.2s ease;
  border: 1px solid transparent;
  height: $controls_btn-height;

  cursor: pointer;

  & > span {
    padding: 0.2rem 0 0 0;
  }

  &_disabled,
  &:disabled {
    opacity: 50%;
    pointer-events: none;
    cursor: not-allowed;
  }

  &_type_primary {
    font-size: $font-size_controls;
    color: white;
    background-color: $color_black;

    &:hover {
      background-color: $color_grey-70;
    }
  }

  &_type_secondary {
    font-size: $font-size_controls;
    color: $color_black;
    border: 1px solid $color_grey-50;
    background-color: transparent;

    &:hover {
      background-color: $color_grey-20;
    }
  }

  &_type_tertiary {
    font-size: $font-size_tiny;
    background-color: $color_grey-20;
    color: $color_black;

    &:hover {
      background-color: $color_grey-50;
    }
  }

  &_type_danger {
    font-size: $font-size_controls;
    border-color: $color_danger;
    background-color: transparent;
    color: $color_danger;

    &:hover {
      background-color: $color_red-10;
    }
  }

  &_type_icon {
    border: none;
    background-color: transparent;
    padding: 0 0.5rem;
    height: 2rem;
    width: 2rem;
  }

  &_hover_grey-70 {
    &:hover {
      background-color: $color_grey-70;
    }
  }

  &_hover_grey-20 {
    &:hover {
      background-color: $color_grey-20;
    }
  }
}

.icon {
  font-size: 1.2rem;
}

.layout {
  height: 100%;

  font-size: $font-size_root;

  scroll-behavior: smooth;
  background-attachment: fixed;

  &__body {
    position: relative;
    min-height: 100%;
    width: 100%;

    margin: 0 auto;

    font-family: $font-stack_sans;
    color: $color_text;
    line-height: 1.5;

    padding: 2rem 0 6rem 0;
  }
}

.input {
  vertical-align: center;
  padding: 0 1rem;
  border: 1px solid $form__border_initial;
  border-radius: $border_radius_btn;
  transition: 0.2s;

  &:hover {
    border: 1px solid $form__border_hover;
  }

  &:focus {
    outline: none;
    border: 1px solid $form__border_focus;
    box-shadow: 0 0 0.6rem $form__boxshadow_focus;
  }

  &::placeholder {
    color: $color_grey-50;
  }

  &_error {
    &:focus {
      outline: none;
      border: 1px solid $form__border_danger;
      box-shadow: 0 0 0.6rem $form__boxshadow_danger;
    }
  }
}

.header1 {
  font-size: $font-size_h1;
  margin-bottom: 1rem;
}

.overlay {
  position: fixed;
  z-index: $zindex-modal-backdrop;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.7rem);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.input-error {
  padding: 0.5rem 1rem;
  background-color: $color_red-10;
  color: $color_black;
  border-radius: $border_radius_block;
  font-size: $font-size_controls;
}
