########################
### Project-specific ###
########################

PRIVATE-NOTES.md
volume/
redis_data/
mongodb/data
ui/

################
### Postgres ###
################

volume/
.env

######################
### Compiled files ###
######################

*.com
*.class
*.dll
*.exe
*.o
*.so

##################################
### Vim session and temp files ###
##################################

*.vim
*.swo
*.swp

################################
### Visual Studio Code files ###
################################

*.code-workspace

######################
### Packaged files ###
######################

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

#############
### Other ###
#############

*.env
*.log
log/
*~
~*
# ignore all files starting with a dot (e.g. `.README.txt`)
.*
# ignore all dirs starting with a dot (e.g. `.ui-design`)
.*/
.goutputstream-*
node_modules/
dist/
_source/

# SSL certificate files
*.crt
*.key

###########################################################
### Whitelisted Files (track these files if they exist) ###
###########################################################

!.gitignore
!.gitattributes

!.prettierrc

!.eslintrc.js
!.eslintignore

!.dockerignore
