########################

### Project-specific

########################

coverage/
.dev/
volume/
redis_data/
mongodb/data/

################

### Postgres

################

volume/
*.env


######################

### Compiled files

######################

_.com
_.class
_.dll
_.exe
_.o
_.so

##################################

### Vim session and temp files

##################################

_.vim
_.swo
\*.swp

################################

### Visual Studio Code files

################################

\*.code-workspace

######################

### Packaged files

######################

_.7z
_.dmg
_.gz
_.iso
_.jar
_.rar
_.tar
_.zip

#############

### Other

#############

_.env
_.log
log/
_~
~_

# ignore all files starting with a dot (e.g. `.README.txt`)

.\*

# ignore all dirs starting with a dot (e.g. `.ui-design`)

._/
.goutputstream-_
node_modules/
dist/
\_source/

# SSL certificate files

_.crt
_.key

###########################################################

### Whitelisted Files (track these files if they exist)

###########################################################

!.gitignore
!.gitattributes

!.prettierrc

!.eslintrc
!.eslintignore

!.dockerignore
