@import "../../global";

.stats-page {
  &__header2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size_h2;
    padding: 1rem 0 1rem 0;
  }

  &__loader {
    background-color: $color_black;
  }
}
