@import "../global.scss";

.app {
  display: grid;
  grid-template-areas: "Sidebar Playlists";
  grid-template-columns: 15rem 1fr;

  &__sidebar {
    grid-area: Sidebar;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: scroll;
    row-gap: 1rem;
    width: 15rem;
    display: grid;
    align-content: space-between;
    height: 100%;
    background-color: $color_green-70;
    margin: 1rem 0 1rem 0;
    color: $color_gray-lighten;
    padding: 4rem 0 1rem 0;
  }

  &__stats_name {
    font-size: $font-size_sm;
  }

  &__stats_value {
    font-size: $font-size_xs;
    display: flex;
    align-items: center;
  }

  &__main {
    grid-area: Playlists;
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
    margin: 1rem;
  }

  &__logo {
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    padding: 0 0 0 1.5rem;
    background-color: $color_green-70;
    height: 100%;
    border-bottom: 1px solid $color_green-80;
    padding: 1rem 1.5rem 1rem 1.5rem;
  }

  &__logo:hover {
    color: $color_sand-10;
  }

  &__btn {
    font-size: $font-size_sm;
  }

  &__btn_sidebar {
    background-color: $color_pink;
    margin: 1rem 1.5rem 1rem 1.5rem;
  }

  &__row {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    column-gap: 1rem;
    padding: 0 1.5rem 0 1.5rem;
  }

  &__playlist-header {
    display: grid;
    grid-template-areas: "Name . . EstimeteLength";
    grid-template-columns: auto auto 20%;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  &__title {
    grid-area: Name;
    font-size: $font-size_h4;
    font-weight: bold;
  }

  &__duration {
    grid-area: EstimeteLength;
    display: flex;
    justify-content: flex-end;
    font-size: $font-size_h4;
  }

  &__header {
    display: grid;
    grid-template-columns: 15rem 1fr;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-fixed;
    background-color: white;
  }

  &__controls {
    display: grid;
    align-items: center;
    column-gap: 1rem;
  }

  &__controls_top {
    grid-template-columns: auto 1fr auto auto;
    border-bottom: 1px solid $color_green-10;
    padding: 1rem 3rem 1rem 3rem;
  }

  &__controls_bottom {
    grid-template-columns: auto auto 1fr auto;
  }
}
