@import "../global.scss";

.app {
  display: grid;
  grid-template-areas:
    "Sidebar Playlists"
    ".       Playlists";
  grid-template-columns: 15rem 1fr;

  &__sidebar {
    grid-area: Sidebar;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: scroll;
    padding: 1rem 1rem 2rem 1rem;
    row-gap: 1rem;
    width: 15rem;
    display: grid;
    grid-template-areas:
      "A"
      "B"
      "."
      "E";
    grid-template-rows: auto auto auto 1fr auto;
    align-content: space-between;
    height: 100%;
  }

  &__main {
    grid-area: Playlists;
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
    margin: 1rem;
  }

  &__logo {
    font-weight: bold;
    font-size: $font-size_h5;
    text-decoration: none;
    color: black;
  }

  &__logo:hover {
    color: $color_brand_gray-30;
  }

  &__btn {
    height: 2.4rem;
    font-weight: bold;
  }

  &__row {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    column-gap: 1rem;
    padding: 0 1rem 0 0;
  }

  &__playlist-header {
    display: grid;
    grid-template-areas: "Name . . EstimeteLength";
    grid-template-columns: auto auto 1fr 20%;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    //font-weight: bold;
    //list-style-type: none;
  }

  &__title {
    grid-area: Name;
    font-size: $font-size_h4;
    font-weight: bold;
  }

  &__details {
    font-size: $font-size_xs;
    display: flex;
    align-items: center;
  }

  &__duration {
    grid-area: EstimeteLength;
    display: flex;
    justify-content: flex-end;
    font-size: $font-size_h4;
  }

  &__controls {
    display: grid;
    align-items: center;
    column-gap: 1rem;
  }

  &__controls_top {
    position: fixed;
    top: 0;
    left: 18rem;
    right: 3rem;
    padding: 1rem 0;

    grid-template-columns: auto 1fr auto auto;
    background-color: white;
  }

  &__controls_down {
    grid-template-columns: auto auto 1fr auto;
  }
}
