@import "../../../global.scss";

.group {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.5rem;
  align-content: flex-start;
  border-radius: $border_radius_block;
  width: 100%;
  box-shadow:
    0 0 1rem $color_grey-50,
    0 -0.7rem 0 $color_black;
  font-size: $font-size_regular-text;
  background-color: white;
  margin-top: 1rem;

  &__index {
    font-size: $font-size_h2;
    font-weight: bold;
    border-right: 2px solid $color_black;
    padding: 0 1rem 0 0;
  }

  &__name {
    font-weight: bold;
    font-size: $font-size_h2;

    & .editable-text__name {
      font-size: $font-size_regular-text;
      font-weight: bold;
    }
  }

  &__btns-group {
    display: flex;
    column-gap: 1rem;
    align-self: center;
  }

  &__header {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: auto auto auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    cursor: pointer;
  }

  &__header-btns {
    display: flex;
    align-items: center;
  }

  &__body {
    display: flex;
    flex-flow: column nowrap;
  }

  &__body_hidden {
    display: none;
  }

  &__tabs {
    align-self: flex-start;
  }

  &__save-filter-btn {
    align-self: flex-start;
  }

  &__btns-group {
    display: flex;
    column-gap: 1rem;
  }

  &__find-track-btn {
    margin: 0 1rem 1rem 1rem;
  }

  &__edit-name-btn {
    font-size: 1.2rem;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    column-gap: 1rem;
    align-items: center;
    border-radius: $border_radius_block;
  }

  &__rule:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }

  &__toggle-group-btn {
    font-size: 1.2rem;
    cursor: pointer;
    width: 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-weight: bold;
  }

  &__sort-btn {
    font-size: 1.2rem;
  }

  &__new-group-form {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1rem;
  }
}
