@import "../../../global.scss";

.new-playlist-form {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: auto auto;
  grid-template-areas: "input btn";

  &__label {
    grid-area: input;
  }

  &__input {
    grid-area: input;
    border-radius: $border_radius_btn;
    border: 1px solid black;
    padding: 0 0.5rem;
    height: 2.4rem;
  }

  &__btn {
    grid-area: btn;
  }
}
